* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
#root {
	display: flex;
	align-items: center;
	flex-direction: column;
}
input   {
	font-size: 20px;
	text-align: center;
	width: 50px;
}
button  {
	margin-top: 10px;
	margin-bottom: 25px;
	width: auto;
	font-size: 20px;

}
.liste {
	width: 50%;
	display: flex;
	justify-content: space-between;
}
h3 {
	margin: 5px 0;
}
li  {
	margin-left: 20px;

}
.prima, .seconda {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	padding: 10px 5px;
	border-radius: 20px;
	margin-right: 20px;
}
.anime {

	animation-name: comparsa;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}
@keyframes comparsa {
	from {box-shadow: none; background-color: transparent;}
	to {box-shadow: 5px 5px 5px #000; background-color: moccasin;}

}